<div class="row center">
  <div class="heading-title text-center">
    <h3 class="text-uppercase">Our professionals </h3>
    <p class="p-top-30 half-txt">Presenting the final project for Web-Application course </p>
  </div>

  <div class="col-sm">
    <div class="team-member">
      <div class="team-img">
        <img src="../../../../images/yoav.jpeg" alt="team member" class="img-responsive">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p class="team-title">Yoav Stezki</p>
          <p class="team-title">Software Engineer PinkPark LTD</p>
        </div>
        <div class="s-link">
          <a href="https://www.facebook.com/yoav.stezki"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm">
    <div class="team-member">
      <div class="team-img">
        <img src="../../../../images/Nitzan.jpeg" alt="team member" class="img-responsive">
      </div>
      <div class="team-hover">
        <div class="desk">
          <p class="team-title">Nitan</p>
          <p class="team-title">Software Engineer IDF</p>
        </div>
        <div class="s-link">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>


</div>
