<div class="row main">
  <div class="main-login main-center">
    <h5>Sing Up</h5>
    <form (submit)="registerUser()" [formGroup]="registerForm" novalidate>

      <div class="form-group" [ngClass]="{
        'has-success' : firstName.valid && (firstName.dirty || firstName.touched),
        'has-danger' : firstName.invalid && (firstName.dirty || firstName.touched)
      }">
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="firstName"
                   placeholder="Enter your First Name"/>
            <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors['required']">First Name is required</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{
        'has-success' : lastName.valid && (lastName.dirty || lastName.touched),
        'has-danger' : lastName.invalid && (lastName.dirty || lastName.touched)
      }">
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="lastName" placeholder="Enter your Last Name"/>
            <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors['required']">Last Name is required</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{
        'has-success' : email.valid && (email.dirty || email.touched),
        'has-danger' : email.invalid && (email.dirty || email.touched)
      }">

        <div class="cols-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter your Email"/>
            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <p *ngIf="email.errors['required']">invalid email</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{
        'has-success' : password.valid && (password.dirty || password.touched),
        'has-danger' : password.invalid && (password.dirty || password.touched)
      }">
        <div class="cols-sm-10">
          <div class="input-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your Password"/>
            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
              <p *ngIf="password.errors['required']">Password is required. </p>
              <p *ngIf="password.errors['minLength']">Minimum 5 characters. </p>
              <p *ngIf="password.errors['pattern']">Password contains letters (both uppercase and lowercase) and numbers
                validation</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group ">
        <button type="submit" [disabled]="!this.registerForm.valid" class="btn btn-primary btn-lg btn-block login-button">Register
        </button>
      </div>
    </form>
  </div>
</div>
