<div class="container" style="margin-bottom: 2cm;">
  <h1 class="page-header">Create new product</h1>
  <form (ngSubmit)="onUpdateProduct()">

    <div [formGroup]="productForm">
      <div class="col-3">
        <div class="form-group">
          <input type="hidden" class="form-control" id="serialNumber">
        </div>

        <div class="form-group">
          <label for="productName"> Product Name</label>
          <input type="text" class="form-control" id="productName"
                 placeholder="Enter Product Name" formControlName="productName">
          <div class="form-control-feedback" *ngIf="productName.errors && (productName.dirty || productName.touched)">
            <p *ngIf="productName.errors['required']">Product Name is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="productCategory">Product Category</label>
          <select title="Select from the existing Categories" class="form-control" id="productCategory"
                  placeholder="Enter Product Category" formControlName="productCategory">
            <option *ngFor="let category of productCategories" [ngValue]="category">{{category}}</option>
          </select>
          <div class="form-control-feedback"
               *ngIf="productCategory.errors && (productCategory.dirty || productCategory.touched)">
            <p *ngIf="productCategory.errors['required']">Product Category is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="weightable"> Weightable</label>
          <input type="text" class="form-control" id="weightable"
                 placeholder="Enter Product Weight" formControlName="weightable">
          <div class="form-control-feedback"
               *ngIf="weightable.errors && (weightable.dirty || weightable.touched)">
            <p *ngIf="weightable.errors['required']">Weightable is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="productPrice">Product Price</label>
          <input type="text" class="form-control" id="productPrice"
                 placeholder="Enter Product Price" formControlName="productPrice">
          <div class="form-control-feedback"
               *ngIf="productPrice.errors && (productPrice.dirty || productPrice.touched)">
            <p *ngIf="productPrice.errors['required']">Product Price is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="productManufacturer">Product Manufacturer</label>
          <input type="text" class="form-control" id="productManufacturer"
                 placeholder="Enter Product Manufacturer" formControlName="productManufacturer">
          <div class="form-control-feedback"
               *ngIf="productManufacturer.errors && (productManufacturer.dirty || productManufacturer.touched)">
            <p *ngIf="productManufacturer.errors['required']">Product Manufacturer is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="productStoreName"> Product Store Name</label>
          <select title="Select from the existing Stores" class="form-control" id="productStoreName"
                  placeholder="Enter Store Name" formControlName="productStoreName">
            <option *ngFor="let store of shopNames" [ngValue]="store">{{store}}</option>
          </select>
          <div class="form-control-feedback"
               *ngIf="productStoreName.errors && (productStoreName.dirty || productStoreName.touched)">
            <p *ngIf="productStoreName.errors['required']">Product Store Name is required</p>
          </div>
        </div>

        <div class="form-group">
          <label for="productImageUrl">Product Image URL</label>
          <input type="text" class="form-control" id="productImageUrl"
                 placeholder="Enter Product Image URL" formControlName="productImageUrl">
        </div>

        <input type="submit" class="btn btn-success" value="Submit" [disabled]="!productForm.valid">
      </div>

    </div>
  </form>
</div>
