<div class="container">
  <div class="row">
    <h1 class="page-header col-3">Products list</h1>
    <a [routerLinkActive]="['active']" [routerLink]="['/products/create']" class="btn offset-3 col-3">Add product</a>
    <a [routerLinkActive]="['active']" [routerLink]="['/products/search']" class="btn col-3">Search product</a>
  </div>


  <div class="row pad">
    <div class="col-6 pad-item" *ngFor="let p of products">
      <app-product-item [product]="p"></app-product-item>
    </div>
  </div>
</div>
